* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(rgb(245, 200, 116), rgba(255, 187, 0, 0.911));
    overflow-x: hidden;
}
header {
    background-color: white;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.logo img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;

}
/* ************************************************* */
.menu{
    height: 1.7rem;
    width: 2rem;
    cursor: pointer;
    position: relative;
}
.menu span {
    background-color: black;
    height: .3rem;
    width: 100%;
    left: 0;
    transition: .3s ease;
    position: absolute;
}
.menu span:first-child {
    top: 0;
}
.menu span:nth-child(2) {
    top: .7rem;
}
.menu span:last-child {
    bottom: 0;
}
.menu:hover span:nth-child(2) {
    opacity: 0;
}
.menu:hover span:first-child, .menu:hover span:last-child {
    top: .7rem;
    background-color: red;
}
.menu:hover span:first-child {
    transform: rotate(50deg)
}
.menu:hover span:last-child {
    transform: rotate(-50deg)
}
/* ************************************************* */
form input {
    padding: .5rem 1rem;
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 1rem;
    position: relative;
}
form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form i {
    position: absolute;
    right: 5rem;
}
.container {
    overflow: hidden;
    width: 24.3rem;
    position: relative;
}
.slider {
    display: flex;
    transition: 1s;
}
picture img {
    width: 24.3rem;
    height: 14rem; 
}
.next, .prev {
    position: absolute;
    top: 50%;
    z-index: 10000;
    background: white;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    transform: translateY(-50%);
    right: 1rem;
}
.prev {
    left: 1rem;
}
.categories {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: .1rem;
}
.sliderr {
    display: flex;
    transition: .9s;
}
.categories .prev, .categories .next {
    padding: 1rem;
    top: 54%;
    opacity: .7;
}
.categories .prev {
    left: .1rem;
}
.categories .next {
    right: .1rem;
}
.category {
    width: 23.5rem;
}
.category img {
    width: 23.5rem;
    height: 14rem;
    object-fit: cover;
    padding: .5rem;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    height: 1rem;
}
.footer i {
    font-size: 1.5rem;
}
.footer p {
    font-size: 2rem;
}
.footer i.active {
    color: red;
    font-weight: 800;
    font-size: 2rem
}
.randomMeal img{
    width: 24.2rem;
    height: 12.5rem;
    object-fit: cover;
}
.randomMeal .footer p {
    font-size: 1.5rem;
}