* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {  
     width: 100%;
}
ul.toggleMenu {
    display: none;
    position: absolute;
    top: 5rem;
    right: 0;
    background: white;
    width: 13rem;
    font-size: 2rem;
    z-index: 100000;
    height: 100%;
    padding: 1rem;
}
.toggleMenu.active {
    display: block;
}
ul li {
    list-style: none;
    margin-top: 2.5rem;
}
a {
    text-decoration: none;
    color: black;
    
}
header {
    background-color: white;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.logo img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;

}
/* ************************************************* */
.menu{
    height: 1.7rem;
    width: 2rem;
    cursor: pointer;
    position: relative;
}
.menu span {
    background-color: black;
    height: .3rem;
    width: 100%;
    left: 0;
    transition: .3s ease;
    position: absolute;
}
.menu span:first-child {
    top: 0;
}
.menu span:nth-child(2) {
    top: .7rem;
}
.menu span:last-child {
    bottom: 0;
}
.menu.active span:nth-child(2) {
    opacity: 0;
}
.menu.active span:first-child, .menu.active span:last-child {
    top: .7rem;
    background-color: red;
}
.menu.active span:first-child {
    transform: rotate(50deg)
}
.menu.active span:last-child {
    transform: rotate(-50deg)
}

/* ************************************************* */
form input {
    padding: .5rem 1rem;
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 1rem;
    position: relative;
}
form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form i {
    position: absolute;
    right: 5rem;
}
.dishes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.dishes img {
    width: 11.5rem;
    height: 12rem;
    object-fit: cover;
}
.dishes p {
    font-size: 1.2rem;
    word-break: break-all;
    width: 11.5rem;
}
.dish {
    margin: 1rem .3rem;
}
.dish .footer {
    display: flex;
    justify-content: space-between;
    width: 11.5rem;
}
.footer i {
    font-size: 1.2rem;
}